
@using System.Data
@model DataTable
@{
    ViewBag.Title = "CostReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table id="Tablo" class="table table-bordered">
    <thead>
        <tr>
            <th>Yazılım Adı</th>
            <th>Yazılımın Toplam Maliyeti</th>


        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["Yazılım Adı"]</td>
                <td>@row["Yazılımın Toplam Maliyeti"] ₺</td>

            </tr>
        }
    </tbody>
</table>
