@*@model YazilimVarlikYonetimSistemi.Models.Model.Usage
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table id="Tablo" class="table table-bordered">
    <thead>
        <tr>
            <th>Yazılım Adı</th>
            <th>Kalan Ay</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var software in Model)
        {
            <tr>
                <td>@software.S_Name</td>
                <td>@ViewBag.saat</td>
            </tr>
        }
    </tbody>
</table>*@

@using System.Data
@model DataTable
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>CustomerId</th>
            <th>Name</th>
        </tr>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["S_Name"]</td>
                <td>@row["Kaç Ay Kaldı"]</td>
            </tr>
        }
    </table>
</body>
</html>
