
@using System.Data
@model DataTable
@{
    ViewBag.Title = "TimeReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table id="Tablo" class="table table-bordered">
    <thead>
        <tr>
            <th>Yazılım Adı</th>
            <th>Sonlanma Tarihi</th>
            <th>Kalan Süre</th>


        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {
        <tr>
            <td>@row["Yazılım Adı"]</td>
            <td>@row["Sonlanma Tarihi"]</td>
            <td>@row["Kaç Ay Kaldı"] Ay</td>

        </tr>
        }
    </tbody>
</table>
