@using YazilimVarlikYonetimSistemi.Models.Model
@model List<Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Birim Adı</th>
            <th>Birim Adresi</th>
            <th>Birim E-maili</th>
            <th>Birim Tel No</th>
            <th>Yazılımlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dep in Model)
        {
            <tr>
                <td>@dep.D_Name</td>
                <td>@dep.D_Address</td>
                <td>@dep.D_Email</td>
                <td>@dep.D_TelNo</td>

                <td><a class="btn btn-info" href="/Department/Info/@dep.D_ID">Yazılımlar</a></td>
            </tr>
        }
    </tbody>
</table>
