@using YazilimVarlikYonetimSistemi.Models.Model
@model List<Infrastructure>
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<td><a class="btn btn-success" href="/Infrastructure/Create/">Yeni Alt Yapı Ekle</a></td>

<h2>Alt Yapılar</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>İşletim Sistemmi</th>
            <th>Minimum Ram</th>
            <th>Minimum Depolama</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var infra in Model)
        {
            <tr>
                <td>@infra.OS</td>
                <td>@infra.Min_RAM</td>
                <td>@infra.Min_Storeage</td>

                <td><a class="btn btn-primary" href="/Infrastructure/Update/@infra.I_ID">Güncelle</a></td>
                <td><a class="btn btn-warning" href="/Infrastructure/Delete/@infra.I_ID">Sil</a></td>
            </tr>
        }
    </tbody>
</table>

