@model IEnumerable<YazilimVarlikYonetimSistemi.Models.Model.Department>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i>Ana Sayfa</h3>       
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box blue-bg">
            <i class="fa fa-cubes"></i>
            <div class="count">@ViewBag.SoftwareCount</div>
            <div class="title">Yazılım</div>
        </div>
        <!--/.info-box-->
    </div>

    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="fa fa-cubes"></i>
            <div class="count">@ViewBag.DepartmentCount</div>
            <div class="title">Birim</div>
        </div>
        <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
        <div class="info-box brown-bg">
            <i class="fa fa-cubes"></i>
            <div class="count">@ViewBag.UserCount</div>
            <div class="title">Kullanıcı</div>
        </div>
        <!--/.info-box-->
    </div>

    <section class="wrapper">

        <!--overview start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading"></header>
                    <ul class="list-group">
                        <li class="list-group-item"><b>MEVCUT YAZILIMLAR</b></li>
                        <li class="list-group-item">
                            Kurumda kullanılan yazılımların özelliklerine ulaşmak için Mevcut Yazılımlar bağlantısı kullanılmalıdır.
                            Bu bağlantı altında mevcut yazılımların yazılım bilgileri,kullanım bilgileri ve gerekli altyapı bilgileri listelenir.
                        </li>
                    </ul>
                    <header class="panel-heading"></header>
                    <ul class="list-group">
                        <li class="list-group-item"><b>BİRİMLER</b></li>
                        <li class="list-group-item">
                            Birimlerde kullanılan yazılımları görüntülemek için Birimler bağlantısı kullanılmalıdır.
                            Bu bağlantı altında kurumumuzda olan birimler listelenir. Görüntülenmek istenilen biirmin bağlantısına tıklanarak birimin ve kullandığı yazılımların bilgilerine ulaşılabilir.
                        </li>
                    </ul>
                    <header class="panel-heading"></header>
                    <ul class="list-group">
                        <li class="list-group-item"><b>KULLANICILAR</b></li>
                        <li class="list-group-item">
                            Yazılımları kullanan kullanıcıları görüntülemek için Kullanıcılar bağlantısı kullanılmalıdır.
                            Bu bağlantı altında kullanıcı bilgileri ve kullanılan yazılımlar listelenir. Kullanıcı bilgileri bağlantısına gidildiğinde kullanıcılar listesinden  kullanıcıların bilgileri görüntülenebilir.Kullanılan yazılımlar bağlantısına gidildiğinde kullanıcı seçilerek kullanıcının kullandığı yazılımlar görüntülenebilir.
                        </li>
                    </ul>
                    <header class="panel-heading"></header>
                    <ul class="list-group">
                        <li class="list-group-item"><b>RAPORLAMA</b></li>
                        <li class="list-group-item">
                            Kullanımının bitmesine 1 yıldan az kalan yazılımları gösteren rapor elde edilir. Mevcut yazılımların toplam maaliyetini gösteren rapor elde edilir. 
                            Raporlar mail olarak atılır.
                        </li>
                    </ul>
                </section>

            </div>

        </div>

    </section>

</div>
